page-home {

    h3{
    text-align: center;
    font-size: 40px;
    color: #4989f8;
    text-shadow: 2px 2px 2px #042a6d;
}
img{
    width: 200px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;
}
//b{
  //  color: white;
//}

}
